body{background: #44030e;
text-decoration-color: salmon;
color: white;}

.home{
    text-align: center;
    color: #c2ebff;
    font-family: initial;
    font-size:100px;
    position: relative;
    left: 30px;
    margin-top: 100px;
    text-decoration: underline;
    

}
p::first-letter {
    font-size: 150%;
    font-family: sans-serif;
}
